/* css used for doi_banner.php*/
    div.wrapper{  
        float:left; /* important */  
        position:relative; /* important(so we can absolutely position the description div */  
    }  
    div.description{  
        position:absolute; /* absolute position (so we can position it where we want)*/  
        Top:37px; /* position will be on bottom */  
        left:85px;  
        width:100%;  
        /* styling bellow */  
        font-family: 'Tahoma';  
        font-size:15px;  
        color:black;  
    }  
    p.description_content{  
        padding:0px;  
        margin:0px;  
    }  
